<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> The home page!</title>
    <script src="https://use.fontawesome.com/83283b2120.js"></script>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
  </head>
