
<%- include ('partials/head') %>
<%- include ('partials/header') %>

<main class="container-fluid">

  <div class="jumbotron">
    <h1>חנויות בראש העין</h1>
    <p>מידע על חנויות בראש העין</p>
  </div>

  <h2 class="text-center m-2 p-2">חנויות</h2>
  <hr class="clearfix w-100 ">

<section>

 <div class="list-group col-lg-4 col-md-6 p-2 m-2">
  <a href="/shopping/bicycle" class="list-group-item list-group-item-action">אופניים</a>
   <a href="/shopping/cloths" class="list-group-item list-group-item-action list-group-item-primary">בגדים</a>
  <a href="/shopping/computers" class="list-group-item list-group-item-action list-group-item-secondary">מחשבים</a>
  <a href="/shopping/barbers" class="list-group-item list-group-item-action list-group-item-success">מספרות</a>
  <a href="/shopping/toys" class="list-group-item list-group-item-action list-group-item-danger">צעצועים</a>
  <a href="/shopping/shoes" class="list-group-item list-group-item-action list-group-item-warning">נעליים</a>
 </div>

</section>
</main>

<%- include ('partials/footer') %>
